body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  @media (max-width: 1500px) {
    max-width: 1280px;
  }
}

.header {
  max-width: 100%;
  padding: 60px 100px 120px 100px;
  background-color: #2c2d32;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  @media (max-width: 580px) {
    border-radius: 0;
  }
}

.navbar {
  display: flex;
  align-items: center;
  font-size: 22px;
  justify-content: space-between;
  &__logo {
    @media (max-width: 1280px) {
      margin-bottom: 20px;
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1280px) {
      margin-bottom: 20px;
    }
    @media (max-width: 580px) {
      flex-direction: column;
      align-items: center;
    }
    .menu__item {
      text-decoration: none;
      color: white;

      &:nth-of-type(n + 2) {
        margin-left: 80px;
        @media (max-width: 1500px) {
          margin-left: 40px;
        }
        @media (max-width: 580px) {
          margin: 10px 0;
        }
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
  @media (max-width: 1280px) {
    flex-direction: column;
  }
}
.button {
  padding: 0 40px;
  background-color: #b25a59;
  border-radius: 80px;
  border: none;
  height: 80px;
  line-height: 80px;
  
  color: white;
  
}
.navbar__btn-phone{
  @media (max-width: 580px) {
    display: none;
  }
}
.icon {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-position: center;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 5px;
  @media (max-width: 580px) {
    margin: 0;
  }
  &-call {
    background-image: url(../images/icon-call.svg);
  }
}
